:root{
    --color1: #535C91;
    --color2: #1B1A55; 
    --color3: #e63417;
    --color4: #b9cfe4;
    --color5: #edce51;
}
/*======================================================
HEADER SECTION
========================================================*/
.navigation-bar {
  min-height: 100vh;
  background: url(/img/hero.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  position: relative; 
}
.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
  padding: 0.8rem 7%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.header::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(50px); 
  z-index: -1;
}
.header::after{
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  opacity: 30%;
  background: linear-gradient(90deg, transparent, rgb(45, 45, 45), transparent);
  transition: .7s;
  z-index: 39;
}
.header:hover::after{
  left: 100%;
  z-index: 39;
}
.logo{
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.2em;
}
.navbar a{
  font-size: 1.25rem;
  color: white;
  font-weight: 700;
  margin-left: 1.5rem;
  transition: .3s ease;
  z-index: 40;
}
.navbar a:last-child i {
  display: none;
}
.navbar a:hover {
  color: var(--color1); 
}
#check{
  display: none;
}
.icons {
  position: absolute;
  right: 5%;
  font-size: 2.8rem;
  color: white;
  cursor: pointer;
  display: none;
}
.hero-content {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  text-align: left;
  color: white;
  padding: 1rem;
  max-width: 80%;
}
.hero-title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.hero-description {
  font-size: 1.25rem; 
  font-weight: 400;
  margin-bottom: 2rem;
  color: white;
}

@media (max-width: 805px) {
    .icons{
        display: inline-flex;
    }
    #check:checked ~ .icons #menu-icon{
        display: none;
    }
    .icons #close-icon{
        display: none;
    }
    #check:checked ~ .icons #close-icon{
        display: block;
    }
    .header{
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .9);
        backdrop-filter: blur(50px);
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(0, 0, 0, .9);
        backdrop-filter: blur(50px);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .9);
        overflow: hidden;
        transition: height 0.3s ease;
    }
    #check:checked ~ .navbar{
        height: 15rem;
    }
    .navbar a{
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        opacity: 0;
        transition: transform 0.3s ease, opacity 0.3s ease;
    }
    #check:checked ~ .navbar a{
        transform: translateY(0);
        transition-delay: calc(.15s * var(--i));
        opacity: 1;
    }
    .navbar a:last-child i{
        color: #fff;
        display: block;
        transition: color 0.3s ease, transform 0.3s ease;
    }
    .navbar a:last-child:hover i{
        color: #E1306C;
        transform: scale(1.2);
    }
    .hero-content{
        right: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 0.9rem;
        padding: 0.5rem;
        text-align: center;
        min-width: 90%;
    }
    .hero-title{
        font-size: 2rem;
    }
    .hero-description{
        margin-bottom: 1rem;
    }
}
/*======================================================
PROJEKT SECTION
========================================================*/
.grid-wrapper{
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 0% 2%; 
    box-sizing: border-box; 
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    gap: 30px;
}  
.grid-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    padding: 60px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: all ease-in-out 300ms;
}
.grid-item:hover{
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
.title{
    width: 100%;
    margin-bottom: 2rem;
    padding: 0% 0%;
    text-align: center;
}
.company-logo {
    max-width: 250px;
    margin-bottom: 15px;
}
.website-mockup {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 15px;
}
.aurorastäd{
    color: var(--color3);
}
.aurorastäd:hover{
    background-color: var(--color3);
}
.equalkidz{
    color: #6986a0; /*Har gjorts lite mörkare för bättre kontrast*/
}
.equalkidz:hover{
    background-color: #6986a0; /*Har gjorts lite mörkare för bättre kontrast*/
}
.flexiworker{
    color: var(--color5);
}
.flexiworker:hover{
    background-color: var(--color5);
}
@media (max-width: 600px){
    .grid-wrapper {
      padding: 0 20px; 
    }
}
/*======================================================
TJÄNSTER SECTION
========================================================*/
.tjänster {
    width: 100%;
    padding: 0% 7%;
    text-align: center;
}
.icon-section {
    display: flex;
    justify-content: center;
    gap: 60px; /* Mellanrum mellan ikonerna */
    text-align: center;
}
.icon-item i {
    font-size: 50px;
    color: #000000;
}
.icon-item h2 {
    font-size: 18px;
    color: #333;
    font-weight: bold;
    margin-top: 10px;
}
.icon-item p {
    display: block;
    line-height: 1.4;
    font-size: 16px;
    color: #555;
    margin-top: 5px;
}
@media (max-width: 768px) {
    .tjänster{
        padding: 3% 4%;
        text-align: center;
    }
    .icon-item h2{
        font-size: 1.5rem;
    }
    .icon-section {
        flex-direction: column;
        align-items: center;
    }
}
/*======================================================
UF-PAKET SECTION
========================================================*/
.uf-paket{
    width: 100%;
    padding: 0% 7%;
    padding-bottom: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.uf-paket h1{
    margin-bottom: 1rem;
    text-align: center;
}
.uf-paket h2{
    margin-bottom: 1rem;
}
.uf-paket-info{
    margin: 0;
    max-width: 800px;
    text-align: left;
    line-height: 1.4;
}
.uf-paket-info p{
    margin-bottom: 2rem;
    text-align: left;
}
@media (max-width: 805px){
    .uf-paket{
        padding: 3% 4%;
        text-align: center;
    }
    .uf-paket h2{
        font-size: 1.5rem;
    }
    .uf-paket-info{
        text-align: center;
    }
    .uf-paket-info p {
        font-size: 1rem;
        text-align: center;
    }
}
