
.service-info-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1400px;
    padding: 0 2%;
    flex-wrap: wrap;
}
.service-info-text {
    flex-basis: 55%;
    padding: 10px;
}
.service-info-text h1 {
    font-size: 3.5rem;
    color: var(--color1);
    margin-bottom: 30px;
}
.service-info-text p {
    font-size: 1.4rem;
    line-height: 1.8;
    color: #333;
    margin-bottom: 20px;
}
.service-info-text ul {
    list-style-type: disc;
    padding-left: 20px;
    text-align: left;
}
.service-info-text li {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #333;
}
.service-info-image {
    flex-basis: 40%;
    text-align: center;
}
.service-info-image img {
    max-width: 100%;
    border-radius: 10px;
}
@media (max-width: 600px) {
    .hero-content-2{
        padding: 20px;
        text-align: center;
    }
    .hero-content-2 h1{
        text-align: center;
        font-size: 2rem;
    }
    .hero-title-2{
        font-size: 0rem;
    }
    .service-info{
        padding: 0 7%;
    }
    .service-info-container{
        flex-direction: column;
        padding: 0 0px;
    }
    .service-info-text{
        flex-basis: 100%;
        padding: 0px 0;
        text-align: left;
    }
    .service-info-text h1{
        font-size: 2.5rem;
    }
    .service-info-text p{
        font-size: 1rem;
    }
    .service-info-image{
        flex-basis: 100%;
        padding: 20px 0;
    }
}